work_mac.zshrc
.jira/
arch.zshrc
tmuxinator
zellij
lazy-lock.json
raycast
gh
github-copilot
glow
lazydocker
lazygit
mods
neofetch
nvm
posting
uv
.emacs.d
.tmux/plugins
.databrickscfg
.aider*
claude
configstore
